<nav>
    <div class="wrapper">
        <div class="logo"><a href="#">Logo</a></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a routerLink="/application/lister-camions">Lister Camions</a></li> 
            <li><a routerLink="/application/ajouter-camion">Ajouter Camion</a></li>
            <li><a routerLink="/application/update-camion">Update Camion</a></li> 
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
</nav>
